# Fichiers/dossiers à ignorer (exemples standards)
.vscode/**
.vscode-test/**
out/**
node_modules/**

.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map

**/.vscode-test.*
# Fichiers à NE PAS ignorer (même s'ils sont dans src/)
!src/**
!**/*.ts  # Inclut les fichiers .ts si nécessaire